.content {
  padding: 100px 0;

  @include max($tablet) {
    padding: 60px 0;
  }
  @include max($mobile) {
    padding: 40px 0;
  }
}

.credits {
  margin-bottom: 30px;

  @include clearfix;
  p {
    font-family: $din;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.1px;
    line-height: 65.39px;
    text-transform: uppercase;

    @include max($mobile) {
      font-size: 12px;
      line-height: 2.5;
    }
  }
  p:first-of-type {
    float: left;
    color: #37474f;

    @include max($mobile) {
      float: none;
    }
  }
  p:last-of-type {
    float: right;
    color: $blue;

    @include max($mobile) {
      float: none;
    }
  }
}

.start-letter {
  padding-right: 40px;
  float: left;
  color: $black;
  font-family: $tungsten;
  font-size: 145px;
  font-weight: 600;
  letter-spacing: 2.9px;
  line-height: 134.8px;

  @include max($mobile) {
    padding-right: 15px;
    font-size: 110px;
    line-height: 90px;
  }
}

.summary {
  margin-bottom: 40px;
  color: $blue;
  font-family: $leitura;
  letter-spacing: 0;
  font-size: 27px;
  line-height: 36px;

  @include max($tablet) {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 32px;
  }
  @include max($mobile) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
  }
}

.content-text {
  margin-bottom: 15px;
  color: $black;
  font-family: $leitura;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;

  @include max($tablet) {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
  }
  @include max($mobile) {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 28px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }

  a {
    border-bottom: 2px solid #0090d1;
    padding-bottom: 2px;
  }
}

.content-header {
  margin-top: 40px;
  margin-bottom: 16px;
  color: #37474f;
  font-family: $din;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2.1px;
  line-height: 26px;
  text-transform: uppercase;

  @include max($tablet) {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 12px;
  }
  @include max($mobile) {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 8px;
  }
}
