.content {
  padding: 100px 0;
}

.credits {
  @include clearfix;

  margin-bottom: 30px;
  p:first-of-type {
    float: left;
    font-family: $din;
    font-size: 14px;
    font-weight: 500;
    line-height: 65.39px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #37474f;
  }
  p:last-of-type {
    float: right;
    font-family: $din;
    font-size: 14px;
    font-weight: 500;
    line-height: 65.39px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #0090d1;
  }
}

.start-letter {
  float: left;
  padding-right: 40px;
  font-family: $tungsten;
  font-size: 145px;
  font-weight: 600;
  line-height: 134.8px;
  letter-spacing: 2.9px;
  color: #2d2d30;
}
.content-text {
  margin-bottom: 50px;
  font-family: $leitura;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: .32px;
  color: #2d2d30;
}

.summary {
  margin-bottom: 40px;
  font-family: $leitura;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: .44px;
  color: #0090d1;
}
