.footer {
  padding: 80px 0;
  background-color: #232326;
}

.footer-title {
  display: inline-block;
  color: #fff;
  font-family: $tungsten;
  font-size: 35px;
  letter-spacing: .7px;
  line-height: 70px;
  text-transform: uppercase;
  margin-right: 40px;
}

.footer-links {
  @include clearfix;
}

.footer-site {
  float: left;
  color: $blue;
  font-family: $din;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 65.39px;
  text-transform: uppercase;
}

.footer-creds {
  padding-top: 20px;
  float: right;
  color: #b0bec5;
  font-family: $din;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 25.77px;
  text-transform: uppercase;
}

.footer-link-desc {
  display: inline-block;
  font-family: $din;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #F3F3F3;
  vertical-align: 7px;
}

.twitter {
  display: inline-block;
  width: 25px;
  height: 20px;
  background: url("images/twitter.svg") center/cover no-repeat;
  margin-right: 15px;
}

.facebook {
  display: inline-block;
  width: 12px;
  height: 26px;
  background: url("images/facebook.svg") center/cover no-repeat;
  margin-right: 15px;
  margin-left: 30px;
}
