.visualization {
  @include max($mobile) {
    display: none;
  }
}

.mobile-warning {
  display: none;

  @include max($mobile) {
    display: block;
  }
}

.range {
  height: 50px;
  margin-bottom: 80px;
  background: url("images/range.svg") center bottom no-repeat;

  @include clearfix;
  @include max($tablet) {
    height: 40px;
    margin-bottom: 40px;
    p {
      font-size: 14px;
    }
  }
  p {
    float: left;
    color: #4c636f;
    font-family: $din;
    font-size: 17px;
    font-weight: lighter;
    line-height: 26px;
    text-transform: uppercase;
    &:first-of-type {
      float: right;
    }
  }
}

.buttons {
  margin-bottom: 50px;
}

.toggle-year-list {
  @include max($tablet) {
    text-align: center;
  }

  list-style-type: none;
}

.toggle-year {
  display: inline-block;
  margin-right: 55px;
  transition: color ease-in-out .22s;
  color: #b0bec5;
  font-family: $din;
  font-size: 17px;
  line-height: 26px;
  cursor: pointer;

  @include max($tablet) {
    margin-right: 30px;
    font-size: 15px;
    &::after {
      margin-top: 4px;
    }
  }
  &::after {
    display: block;
    width: 0;
    height: 2px;
    margin-top: 8px;
    transition: width ease-in-out .22s;
    background-color: $blue;
    content: " ";
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.active {
    color: #4c636f;
    &::after {
      width: 100%;
    }
  }
}

.tool-tip {
  display: none;
  position: absolute;
  width: 27px;
  height: 23px;
  padding-top: 4px;
  border-radius: 3px;
  background-color: $blue;
  color: white;
  font-family: $din;
  font-size: 14px;
  text-align: center;

  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 7px 6.5px 0;
    border-color: transparent #0090d1 transparent transparent;
    content: ' ';
    left: -6px;
    top: 6px;
    position: absolute;
  }
}
