@import
  "mixins",
  "reset"
;

$blue: #0090d1;
$black: #2d2d30;
$gray: #2d3d45;
$light-gray: #b0bec5;

@include font-face("Din Next LT Pro", "DINNextLTPro-Regular");
@include font-face("Din Next LT Pro", "DINNextLTPro-Medium", medium);
@include font-face("Leitura Roman 1", "leitura-roman_1-webfont");
@include font-face("Tungsten", "Tungsten-Medium", medium);
@include font-face("Tungsten", "Tungsten-Semibold", bold);

$din: "Din Next LT Pro";
$leitura: "Leitura Roman 1";
$tungsten: "Tungsten";

$tablet: 950px;
$mobile: 650px;

$meta-width: 250px;

html,
body {
  font-size: 16px;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

@import
  "layout",
  "components/header",
  "components/content",
  "components/visualization",
  "components/chart",
  "components/meta"
;
